<suite name="WikipediaSuite" parallel="tests" thread-count="4">

<listeners>

<listener class-name="listeners.TestListener"/>
<listener class-name="listeners.AccessibilityListener"/>

</listeners>

<test name="Homepage">
<classes>
<class name="tests.HomepageTests"/>
</classes>
</test>

<test name="Search">
<classes>
<class name="tests.SearchTests"/>
</classes>
</test>

<test name="Article">
<classes>
<class name="tests.ArticleTests"/>
</classes>
</test>

<test name="Language">
<classes>
<class name="tests.LanguageTests"/>
</classes>
</test>

<test name="Sidebar">
<classes>
<class name="tests.SidebarTests"/>
</classes>
</test>

<test name="Footer">
<classes>
<class name="tests.FooterTests"/>
</classes>
</test>

<test name="Login">
<classes>
<class name="tests.LoginTests"/>
</classes>
</test>

<test name="Tools">
<classes>
<class name="tests.ToolsTests"/>
</classes>
</test>

</suite>
